venv/
TIL/English/*
TIL/kali-linux/*
tutorials/cloud/gcp-sftp-transfer/credentials.json
tutorials/cloud/gcp-sftp-transfer/cloud-data-transfer-project.md
tutorials/cloud/cloudrun-FTPS/cra_ftps_setup/v0.1/current/config.json
tutorials/cloud/cloudrun-FTPS/ZENN_concept

# serverless-ftps-api-public 内は原則 ignore
tutorials/cloud/serverless-ftps-api-public/*

# ただし README は除外（Git に含める）
!tutorials/cloud/serverless-ftps-api-public/README.md
!tutorials/cloud/serverless-ftps-api-public/README.en.md

